@model Heddoko.Models.BaseViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page">
    <div class="header clearfix">
        <h3>@Html.Raw(i18n.Resources.Ergoscore)</h3>
    </div>
    <div class="col-md-2">
        @if (!Model.IsWorker)
        {
            <div id="ergoscoreLeaderboard">

            </div>
        }
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="ergoscoreFilter">
                <div class="col-md-4">
                    @if (!Model.IsWorker)
                    {
                        <label for="usersFilter" class="control-label">@i18n.Resources.Users</label>
                        <select id="usersFilter"
                                name="ergoscores-userFilter"
                                class="form-control"
                                data-role="multiselect"
                                data-value-primitive="true"
                                data-text-field="name"
                                data-option-label="@i18n.Resources.Users"
                                data-value-field="id"
                                data-bind="value: usersFilter, source: users"
                                multiple></select>
                    }
                    <br />
                    <button class="btn btn-primary" data-bind="click: find">@i18n.Resources.Filter</button>
                    
                </div>
                <div class="col-md-3">
                    <label for="startDate" class="control-label">@i18n.Resources.StartDate</label>
                    <input id="startDate"/>
                    @if (Model.IsLicenseAdmin)
                    {
                        <br/>
                        // Team Filter
                        <label for="teamFilter" class="control-label">@i18n.Resources.Teams</label>
                        <select id="teamFilter"
                                name="ergoscores-teamFilter"
                                class="form-control"
                                data-role="multiselect"
                                data-value-primitive="true"
                                data-text-field="name"
                                data-option-label="@i18n.Resources.Teams"
                                data-value-field="id"
                                data-bind="value: teamsFilter, source: teams, events: { change: onTeamChange }"
                                multiple></select>
                    }
                </div>
                <div class="col-md-3">
                    <label for="endDate" class="control-label">@i18n.Resources.EndDate</label>
                    <input id="endDate"/>
                </div>                
             </div>
            
        </div>
        <br />
        <div class="row">
            <div id="ergoscoreBarChart">

            </div>

            <div class="baseUnitOptions">
                <input id="baseUnitAuto" name="baseUnit"
                       type="radio" value="fit" checked="checked" autocomplete="off" />
                <label for="baseUnitAuto">Automatic (default)</label>
                <input id="baseUnitYears" name="baseUnit"
                       type="radio" value="years" autocomplete="off" />
                <label for="baseUnitYears">Years</label>
                <input id="baseUnitMonths" name="baseUnit"
                       type="radio" value="months" autocomplete="off" />
                <label for="baseUnitMonths">Months</label>
                <input id="baseUnitWeeks" name="baseUnit"
                       type="radio" value="weeks" autocomplete="off" />
                <label for="baseUnitWeeks">Weeks</label>
                <input id="baseUnitDays" name="baseUnit"
                       type="radio" value="days" autocomplete="off" />
                <label for="baseUnitDays">Days</label>
            </div>
        </div>     
    </div>
</div>

