@model Heddoko.Models.BaseViewModel
<!DOCTYPE html>
<html class="@(string.IsNullOrEmpty((string)ViewBag.HtmlClass) ? "landing-page" : ViewBag.HtmlClass)">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,700,600,400" rel="stylesheet" type="text/css">

    <title>@(string.IsNullOrEmpty((string)ViewBag.Title) ? Model.Title : ViewBag.Title)</title>

    @Html.Partial("_Favicons", Model)

    @Styles.Render("~/Bundles/CommonCss")

    @if (Model.EnableKendo)
    {
        @Styles.Render("~/Bundles/KendoCss")
    }

    @RenderSection("css", required: false)
</head>
<body class="@ViewBag.BodyClass">
    @RenderSection("Body", required: false)

    <header class="top">
        <a class="nav-logo" href="/">
            <img src="@Url.Content("~/Content/images/logos/heddoko_logo.svg")" alt="Heddoko">
        </a>

        <div class="social">
            <p>
                @Html.Partial("_Navigation", Model)
            </p>
        </div>
    </header>


    @RenderBody()

    <div id="footer" class="navbar-fixed-bottom text-center">
        &copy; Copyright Heddoko
    </div>
    @Scripts.Render("~/Bundles/jQuery")
    @Scripts.Render("~/Bundles/i18nEn")
    @Scripts.Render("~/Bundles/CommonJs")

    @if (Model.IsAuth)
    {
    @Html.Partial("_TranslateJS", Model)
    }

    @if (Model.EnableKendo)
    {
        @Scripts.Render("~/Bundles/KendoJs")
    }

    @RenderSection("Scripts", required: false)
</body>
</html>