@model Heddoko.Models.BaseViewModel
<!DOCTYPE html>
<html class="@(string.IsNullOrEmpty((string)ViewBag.HtmlClass) ? "web-page" : ViewBag.HtmlClass)">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>@(string.IsNullOrEmpty((string)ViewBag.Title) ? Model.Title : ViewBag.Title)</title>

    @Html.Partial("_Favicons", Model)

    @Styles.Render("~/Bundles/CommonCss")

    @if (Model.EnableKendo)
    {
        @Styles.Render("~/Bundles/KendoCss")
    }

    @RenderSection("css", required: false)
</head>
<body class="@ViewBag.BodyClass">
    @RenderSection("Body", required: false)

    <div id="root" class="nav-min">
        <div class="no-print">
            <aside id="nav-container">
                @Html.Partial("_NavigationAdmin", Model)
            </aside>
        </div>

        <div class="view-container">
            <div class="no-print">
                <section id="header"
                         class="top-header">
                    @Html.Partial("_Header", Model)
                </section>
            </div>

            <section id="content" class="animate-fade-up">
                @RenderBody()
            </section>
        </div>
    </div>

    @Scripts.Render("~/Bundles/jQuery")
    @Scripts.Render("~/Bundles/i18nEn")
    @Scripts.Render("~/Bundles/CommonJs")

    @if (Model.IsAuth)
    {
        @Html.Partial("_TranslateJS", Model)
    }

    @if (Model.EnableKendo)
    {
        @Scripts.Render("~/Bundles/KendoJs")
        if (Model.IsAdmin)
        {
            @Scripts.Render("~/Bundles/AdminJs")
        }
    }

    @RenderSection("Scripts", required: false)
</body>
</html>