@model Heddoko.Models.BaseViewModel

<div class="logo">
    <div class="logo-container">
        <a href="/">
            <img src="@Url.Content("~/Content/images/logos/heddoko_logo_1.svg")" alt="Heddoko" class="logo1">
            <img src="@Url.Content("~/Content/images/logos/heddoko_logo_2.svg")" alt="Heddoko" class="logo2">
        </a>
    </div>
</div>

<div id="nav-wrapper">
    <ul id="nav">
        @if (Model.IsAuth)
        {
            <li class="home @Html.IsCurrentActionLink("Index", "Default")" title="@i18n.Resources.Home">
                <a href="@Url.Action("Index", "Default")">
                    <i class="fa fa-dashboard"></i>
                    <span>@i18n.Resources.Home</span>
                </a>
            </li>
            if (Model.IsAdmin)
            {
                <li class="@Html.IsCurrentActionLink("Index", "Inventory")" title="@i18n.Resources.Inventory">
                    <a href="@Url.Action("Index", "Inventory")">
                        <i class="fa fa-cogs"></i>
                        <span>  @i18n.Resources.Inventory</span>
                    </a>
                </li>
                <li class="@Html.IsCurrentActionLink("Index", "License")" title="@i18n.Resources.LicenseTitle">
                    <a href="@Url.Action("Index", "License")">
                        <i class="fa fa-user-plus"></i>
                        <span> @i18n.Resources.LicenseTitle</span>
                    </a>
                </li>
                <li class="@Html.IsCurrentActionLink("Index", "Firmware")" title="@i18n.Resources.SoftwareAndFirmware">
                    <a href="@Url.Action("Index", "Firmware")">
                        <i class="fa fa-terminal"></i>
                        <span> @i18n.Resources.SoftwareAndFirmware</span>
                    </a>
                </li>
                <li class="@Html.IsCurrentActionLink("Approve", "Development")" title="@i18n.Resources.ApproveApplication">
                    <a href="@Url.Action("Approve", "Development")">
                        <i class="fa fa-check-square"></i>
                        <span> @i18n.Resources.ApproveApplication</span>
                    </a>
                </li>
            }
            else if (Model.IsLicenseAdmin || Model.IsAnalyst)
            {
                <li class="@Html.IsCurrentActionLink("Index", "Organization")" title="@i18n.Resources.LicenseTitle">
                    <a href="@Url.Action("Index", "Organization")">
                        <i class="fa fa-users"></i>
                        <span> @i18n.Resources.LicenseTitle</span>
                    </a>
                </li>
            }
            <!-- Cutting out ErgoScore page from navigation for now
                TODO: Benb - put ergoscore back on nav bar when data upload is available from app
            if (!Model.IsAdmin)
            {
                <li class="@Html.IsCurrentActionLink("Index", "ErgoScore")" title="@i18n.Resources.Ergoscore">
                    <a href="@Url.Action("Index", "ErgoScore")">
                        <i class="fa fa-industry"></i>
                        <span> @i18n.Resources.Ergoscore</span>
                    </a>
                </li>
            }-->
            <li class="@Html.IsCurrentActionLink("Me", "Account")" title="@i18n.Resources.Profile">
                <a href="@Url.Action("Me", "Account")">
                    <i class="fa fa-user"></i>
                    <span> @i18n.Resources.Profile</span>
                </a>
            </li>
            <li class="@Html.IsCurrentActionLink("Index", "Support")" title="@i18n.Resources.Support">
                <a href="@Url.Action("Index", "Support")">
                    <i class="fa fa-question"></i>
                    <span> @i18n.Resources.Support</span>
                </a>
            </li>
        }
    </ul>
</div>
