<div class="row">
    <div class="col-md-4">
        <div class="filters pantsoctopiFilter">
            <div>
                <label for="searchMaterial" class="control-label">@i18n.Resources.Search</label>
                <input id="searchMaterial"
                       class="form-control"
                       type="text"
                       placeholder="@i18n.Resources.EnterMaterial"
                       data-bind="value: search, events:{ keyup: keyup }" />
            </div>
            <div class="margin010">
                <button type="button" data-bind="click: find" class="btn btn-default">@i18n.Resources.Find</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success pantsoctopiForm">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">@i18n.Resources.AddANew @i18n.Resources.PantsOctopi</h3>
                <div class="btn-group pull-right" role="group">
                    <button type="button" class="btn btn-sm btn-warning" data-bind="click: reset">@i18n.Resources.Reset</button>
                    <button type="button" class="btn btn-sm btn-success" data-bind="click: submit">@i18n.Resources.Submit</button>
                </div>
            </div>
            <div class="panel-body">
                <div class="row margin010">
                    <div class="col-sm-3">
                        <input type="text"
                               required
                               name="pantsoctopi-id"
                               validationMessage="@i18n.Resources.Required"
                               placeholder="@i18n.Resources.ID"
                               class="form-control"
                               data-bind="value: model.id" />
                    </div>
                    <div class="col-sm-3">
                        <input type="number"
                               required
                               name="pantsoctopi-size"
                               validationMessage="@i18n.Resources.Required"
                               placeholder="@i18n.Resources.Size"
                               class="form-control"
                               data-bind="value: model.size" />
                    </div>
                    <div class="col-sm-3">
                        <input type="text"
                               required
                               name="pantsoctopi-location"
                               validationMessage="@i18n.Resources.Required"
                               placeholder="@i18n.Resources.PhysicalLocation"
                               class="form-control"
                               data-bind="value: model.location" />
                    </div>
                    <div class="col-sm-3">
                        <input type="text"
                               required
                               name="pantsoctopi-status"
                               validationMessage="@i18n.Resources.Required"
                               placeholder="@i18n.Resources.Status"
                               class="form-control"
                               data-bind="value: model.status" />
                    </div>
                    <div class="col-sm-3">
                        <input type="text"
                               required
                               name="pantsoctopi-qastatus"
                               validationMessage="@i18n.Resources.Required"
                               placeholder="@i18n.Resources.QAStatus"
                               class="form-control"
                               data-bind="value: model.qastatus" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="pantsoctopiGrid">

        </div>
    </div>
</div>
