@using DAL.Models
<div class="row">
    <div class="col-md-4">
        <div class="filters shirtsOctopiFilter">
            <div>
                <label for="searchShirtOctopi" class="control-label">@i18n.Resources.Search</label>
                <input id="searchShirtOctopi"
                       class="form-control"
                       type="text"
                       placeholder="@i18n.Resources.EnterShirtsOctopi"
                       data-bind="value: search, events:{ keyup: keyup }" />
            </div>
            <div class="margin010">
                <button type="button" data-bind="click: find" class="btn btn-default">@i18n.Resources.Find</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success shirtsOctopiForm">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">@i18n.Resources.AddANew @i18n.Resources.ShirtsOctopi</h3>
                <div class="btn-group pull-right" role="group">
                    <button type="button" class="btn btn-sm btn-warning" data-bind="click: reset">@i18n.Resources.Reset</button>
                    <button type="button" class="btn btn-sm btn-success" data-bind="click: submit">@i18n.Resources.Submit</button>
                </div>
            </div>
            <div class="panel-body">
                <div class="row margin010">
                    <div class="col-sm-2">
                        <select class="form-control"
                                required
                                name="shirtsoctopi-size"
                                validationMessage="@i18n.Resources.Required"
                                data-role="dropdownlist"
                                data-value-primitive="true"
                                data-text-field="text"
                                data-option-label="@i18n.Resources.SelectSize"
                                data-value-field="value"
                                data-bind="value: model.size, source: sizes"></select>
                    </div>

                    <div class="col-sm-2">
                        <select class="form-control"
                                required
                                name="shirtsoctopi-status"
                                validationMessage="@i18n.Resources.Required"
                                data-role="dropdownlist"
                                data-value-primitive="true"
                                data-text-field="text"
                                data-option-label="@i18n.Resources.SelectStatus"
                                data-value-field="value"
                                data-bind="value: model.status, source: statuses"></select>
                    </div>

                    <div class="col-sm-2">
                        <select class="form-control"
                                required
                                name="shirtsoctopi-qastatus"
                                validationMessage="@i18n.Resources.Required"
                                data-role="dropdownlist"
                                data-value-primitive="true"
                                data-text-field="text"
                                data-option-label="@i18n.Resources.SelectQAStatus"
                                data-value-field="value"
                                data-bind="value: model.qaStatus, source: qaStatuses"></select>
                    </div>
                </div>
                <div class="row margin010">
                    <div class="col-sm-3">
                        <input type="text"
                               required
                               name="shirtsoctopi-location"
                               validationMessage="@i18n.Resources.Required"
                               placeholder="@i18n.Resources.PhysicalLocation"
                               class="form-control"
                               data-bind="value: model.location" />
                    </div>

                    <div class="col-sm-3">
                        <input type="text"
                               name="shirtsoctopi-label"
                               placeholder="@i18n.Resources.Label"
                               class="form-control"
                               data-bind="value: model.label" />
                    </div>
                </div>
                <div class="row margin010">
                    <div class="col-sm-12">
                        <textarea name="shirtsoctopi-notes"
                                  class="form-control"
                                  placeholder="@i18n.Resources.Notes"
                                  data-bind="value: model.notes"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="shirtsOctopiGrid">

        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="shirtoctopi-qastatuses-template">
    <div class="tabstrip">
        <ul>
            <li class="k-state-active">
                @i18n.Resources.QAChecklist
            </li>
        </ul>
        <div>
            <div class="qa-statuses">
                <ul>
                    @foreach (DAL.Models.ShirtOctopiQAStatusType type in (DAL.Models.ShirtOctopiQAStatusType[])Enum.GetValues(typeof(DAL.Models.ShirtOctopiQAStatusType)))
                    {
                        if (type == ShirtOctopiQAStatusType.None)
                        {
                            continue;
                        }
                        <li>
                            @type.GetDisplayName()
                            <input type="checkbox"
                                   data-bind="checked: model.@type.ToString().ToLower()" />
                        </li>

                    }
                </ul>
                <button type="button" data-bind="click: save" class="btn btn-default">@i18n.Resources.Save</button>
            </div>
        </div>
    </div>

</script>
