@model Heddoko.Models.ForgotPasswordViewModel

@{
    ViewBag.BodyClass = "auth-reset-password";
}

<section>
    <div class="main-body">
        <div class="row">
            <div class="main-body col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">

                <p class="info text-center">
                    @i18n.Resources.UsernameForgotMessage
                </p>

                @Html.Partial("_FlashMessages", Model.Flash)

                @using (Html.BeginForm("ForgotUsername", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", name = "forgotUsernameForm" }))
                {
                    if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                           @Html.Raw(i18n.Resources.Oops)
                            <ul>
                                @Html.ValidationSummary(true, string.Empty, new { @class = "" })
                            </ul>
                        </div>
                    }
                    @Html.AntiForgeryToken()


                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autofocus = "autofocus", placeholder = @HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.Email).ToString()) })
                        @Html.ValidationMessageFor(m => m.Email, string.Empty, new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <input type="submit"
                               class="btn btn-default"
                               name="name"
                               value="@i18n.Resources.RetrieveUsername">
                    </div>
                }

            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/Bundles/ValidateJs")
}