<div class="row">
    <div class="col-md-4">
        <div class="filters equipmentsFilter">
            <div>
                <label for="searchEquipment" class="control-label">@i18n.Resources.Search</label>
                <input id="searchEquipment"
                       class="form-control"
                       type="text"
                       placeholder="@i18n.Resources.EnterEquipment"
                       data-bind="value: search, events:{ keyup: keyup }" />
            </div>
            <div class="margin010">
                <button type="button" data-bind="click: find" class="btn btn-default">@i18n.Resources.Find</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success equipmentsForm">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">@i18n.Resources.AddANew @i18n.Resources.Equipment</h3>
                <div class="btn-group pull-right" role="group">
                    <button type="button" class="btn btn-sm btn-warning" data-bind="click: reset">@i18n.Resources.Reset</button>
                    <button type="button" class="btn btn-sm btn-success" data-bind="click: submit">@i18n.Resources.Submit</button>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2">
                        <select class="form-control"
                                required
                                name="equipment-materialID"
                                validationMessage="@i18n.Resources.Required"
                                data-role="dropdownlist"
                                data-filter="startswith"
                                data-value-primitive="true"
                                data-text-field="namePart"
                                data-option-label="@i18n.Resources.SelectMaterial"
                                data-value-field="id"
                                data-bind="value: model.materialID, source: materials"></select>
                    </div>

                    <div class="col-sm-2">
                        <select class="form-control"
                                data-role="dropdownlist"
                                data-value-primitive="true"
                                data-text-field="text"
                                data-option-label="@i18n.Resources.SelectAnatomicalPosition"
                                data-value-field="value"
                                data-bind="value: model.anatomicalPosition, source: anatomicalPositions"></select>
                    </div>


                    <div class="col-sm-2">
                        <select class="form-control"
                                required
                                name="equipment-verifiedByID"
                                validationMessage="@i18n.Resources.Required"
                                data-role="dropdownlist"
                                data-filter="startswith"
                                data-value-primitive="true"
                                data-text-field="name"
                                data-option-label="@i18n.Resources.SelectVerifiedBy"
                                data-value-field="id"
                                data-bind="value: model.verifiedByID, source: users"></select>
                    </div>

                    <div class="col-sm-2">
                        <select class="form-control"
                                required
                                name="equipment-status"
                                validationMessage="@i18n.Resources.Required"
                                data-role="dropdownlist"
                                data-value-primitive="true"
                                data-text-field="text"
                                data-option-label="@i18n.Resources.SelectStatus"
                                data-value-field="value"
                                data-bind="value: model.status, source: statuses"></select>
                    </div>
                </div>
                <div class="row margin010">
                    <div class="col-sm-2">
                        <select class="form-control"
                                required
                                name="equipment-prototype"
                                validationMessage="@i18n.Resources.Required"
                                data-role="dropdownlist"
                                data-value-primitive="true"
                                data-text-field="text"
                                data-option-label="@i18n.Resources.SelectPrototype"
                                data-value-field="value"
                                data-bind="value: model.prototype, source: prototypes"></select>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control"
                                required
                                name="equipment-condition"
                                validationMessage="@i18n.Resources.Required"
                                data-role="dropdownlist"
                                data-value-primitive="true"
                                data-text-field="text"
                                data-option-label="@i18n.Resources.SelectCondition"
                                data-value-field="value"
                                data-bind="value: model.condition, source: conditions"></select>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control"
                                required
                                name="equipment-numbers"
                                validationMessage="@i18n.Resources.Required"
                                data-role="dropdownlist"
                                data-value-primitive="true"
                                data-text-field="text"
                                data-option-label="@i18n.Resources.SelectNumber"
                                data-value-field="value"
                                data-bind="value: model.numbers, source: numbers"></select>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control"
                                required
                                name="equipment-heatsShrink"
                                validationMessage="@i18n.Resources.Required"
                                data-role="dropdownlist"
                                data-value-primitive="true"
                                data-text-field="text"
                                data-option-label="@i18n.Resources.SelectHeatsShrink"
                                data-value-field="value"
                                data-bind="value: model.heatsShrink, source: heatsShrinks"></select>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control"
                                required
                                name="equipment-ship"
                                validationMessage="@i18n.Resources.Required"
                                data-role="dropdownlist"
                                data-value-primitive="true"
                                data-text-field="text"
                                data-option-label="@i18n.Resources.SelectShip"
                                data-value-field="value"
                                data-bind="value: model.ship, source: ships"></select>
                    </div>
                </div>
                <div class="row margin010">
                    <div class="col-sm-3">
                        <input type="text"
                               required
                               name="equipment-serialNo"
                               validationMessage="@i18n.Resources.Required"
                               placeholder="@i18n.Resources.SerialNo"
                               class="form-control"
                               data-bind="value: model.serialNo" />
                    </div>

                    <div class="col-sm-3">
                        <input type="text"
                               required
                               name="equipment-macAddress"
                               validationMessage="@i18n.Resources.Required"
                               placeholder="@i18n.Resources.MacAddress"
                               class="form-control"
                               data-bind="value: model.macAddress" />
                    </div>

                    <div class="col-sm-6">
                        <input type="text"
                               required
                               name="equipment-physicalLocation"
                               validationMessage="@i18n.Resources.Required"
                               placeholder="@i18n.Resources.PhysicalLocation"
                               class="form-control"
                               data-bind="value: model.physicalLocation" />
                    </div>
                </div>
                <div class="row margin010">
                    <div class="col-sm-12">
                        <textarea data-bind="value: model.notes"
                                  class="form-control"
                                  placeholder="@i18n.Resources.Notes"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="gridEquipments">

        </div>
    </div>
</div>