@model Heddoko.Models.BaseViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="header clearfix">
        @Html.Partial("_Navigation", Model)
        <h3 class="text-muted">@Html.Raw(i18n.Resources.AdminTitle)</h3>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#suits">@i18n.Resources.Suits</a></li>
        <li><a data-toggle="tab" href="#equipment">@i18n.Resources.Equipments</a></li>
        <li><a data-toggle="tab" href="#materials">@i18n.Resources.Materials</a></li>
        <li><a data-toggle="tab" href="#material_types">@i18n.Resources.MaterialTypes</a></li>
    </ul>
    @Html.Partial("_FlashMessages", Model.Flash)
    <div class="tab-content">
        <div id="suits" class="tab-pane fade in active">
        </div>

        <div id="equipment" class="tab-pane fade">
        </div>

        <div id="materials" class="tab-pane fade">
        </div>

        <div id="material_types" class="tab-pane fade">
        </div>
    </div>
</div>


@section Body {
}