@model Heddoko.Models.InviteAdminUserEmailViewModel

@{
    Layout = "~/Views/Shared/_LayoutEmail.cshtml";
}

Welcome @Model.FirstName, <br /><br />You've been invited to become an administrator of the organization @Model.OrganizationName
<br />
@if (!string.IsNullOrEmpty(Model.Token)) {
    <text>
    Click here to activate your account: <a href="@(Heddoko.Config.DashboardSite + $"/invite/{Model.Token}")">@(Heddoko.Config.DashboardSite + $"/invite/{Model.Token}")</a>
    </text>
}
else
{
    <text>
        Click here to manage your organization: <a href="@(Heddoko.Config.DashboardSite + $"/organization")">@(Heddoko.Config.DashboardSite + $"/organization")</a>
    </text>
}
<br /><br />
- The Heddoko Team
