@model Heddoko.Models.InviteAdminUserEmailViewModel

@{
    Layout = "~/Views/Shared/_LayoutEmail.cshtml";
}

Welcome @Model.FirstName, <br /><br />You're invited to become a Heddoko administrator for @Model.OrganizationName
<br />
@if (!string.IsNullOrEmpty(Model.Token)) {
    <text>
        Click here to activate your account: <a href="@(Heddoko.Config.DashboardSite + $"/invite/{Model.Token}")">@(Heddoko.Config.DashboardSite + $"/invite/{Model.Token}")</a>
    </text>
}
else
{
    <text>
        Click here to manage your organization: <a href="@(Heddoko.Config.DashboardSite + $"/organization")">@(Heddoko.Config.DashboardSite + $"/organization")</a>
    </text>
}
<br /><br />
- The Heddoko Team
<br /><br />
<b>Need help? Contact </b> <a href="mailto:support@heddoko.com" rel="nofollow" target="_blank">support@heddoko.com</a>
